.form-control{
    border:1px solid gray;
    border-radius: 20px;
    color: white;
    background-color: #212529;
}

.form-control::placeholder{
    color: white;
    opacity: 1;
}

.form-control:focus{
    border:1px solid inherit;
    box-shadow: none;
    background-color: inherit;
    color: inherit;
}
